body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  align-items: center;
  margin-top: 40px;
}

.container {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  display: grid;
  /* background-color: aquamarine; */
}

.select {
  background-color: rebeccapurple;
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.random {
  background-color: yellowgreen;
  color: black;
}

.reset {
  background-color: lightblue;
  color: black;
}
.btn {
  /* background-color: green; */
  padding: 15px 32px;
  border: 2px solid white;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px;
  cursor: pointer;
  transition-duration: 0.4s;
  /* color: white; */
}

.btn:hover {
  background-color: white; /* Green */
  color: black;
  border: 2px solid pink;
}
